<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setting-up-Environment" data-toc-modified-id="Setting-up-Environment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setting up Environment</a></span></li><li><span><a href="#Importing-Dataset" data-toc-modified-id="Importing-Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importing Dataset</a></span></li><li><span><a href="#Extrating-Comments-Datasets" data-toc-modified-id="Extrating-Comments-Datasets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Extrating Comments Datasets</a></span></li><li><span><a href="#Data-Pre-processing" data-toc-modified-id="Data-Pre-processing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Pre-processing</a></span></li><li><span><a href="#Sentiment-Analysis" data-toc-modified-id="Sentiment-Analysis-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Sentiment Analysis</a></span><ul class="toc-item"><li><span><a href="#Calculating-Comment-Scores" data-toc-modified-id="Calculating-Comment-Scores-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Calculating Comment Scores</a></span></li><li><span><a href="#Calculating-Post-Scores" data-toc-modified-id="Calculating-Post-Scores-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Calculating Post Scores</a></span></li><li><span><a href="#Testing" data-toc-modified-id="Testing-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Testing</a></span></li></ul></li><li><span><a href="#Exporting-Dataset" data-toc-modified-id="Exporting-Dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Exporting Dataset</a></span></li></ul></div>

# Setting up Environment

In [1]:
import pandas as pd
import numpy as np

from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

# Importing Dataset

In [2]:
filepath = "../Instagram/Cleaned data/"
# filename = "All_posts_2wikipedia.csv"
filename = "All_posts_3pareto.csv"

In [3]:
df = pd.read_csv(filepath + filename)  
df

,Unnamed: 0,timestamp,Username,caption,no. of likes,no. of comments,comments,ID,food,cuisine
0,0,30/6/2020,8days_eat,katong’s famous hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",0,hokkien mee,Chinese
1,1,30/6/2020,8days_eat,"for the first time in singapore, heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",1,cookies,Snacks
2,2,29/6/2020,8days_eat,korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,2,acar,Malay
3,3,29/6/2020,8days_eat,online ordering system oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat...",3,NaN,NaN
4,4,29/6/2020,8days_eat,a canelé is a bite-sized french pastry from bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']",4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1035,1035,31/5/2020,thesilverchef,butadon with egg.\r\n\r\nwhen you see shabu sh...,1192,18,"['Yum yum in my tum 😍', 'Can you use beef inst...",1035,udon,Japanese
1036,1036,31/5/2020,thesilverchef,here’s a recap of that famous grilled cheese s...,435,4,['🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u...,1036,NaN,NaN
1037,1037,31/5/2020,thesilverchef,a healthy sunday start with chobani greek yogh...,353,0,[],1037,NaN,NaN
1038,1038,30/5/2020,thesilverchef,crispy salmon in vegetable broth.\r\n\r\nthank...,461,4,"['That skin looks🔥', 'Yummmm😋😋😋', '😘😘😘']",1038,NaN,NaN
1039,1039,30/5/2020,thesilverchef,stuffed squid with glutinous rice.\r\n\r\nsoak...,557,23,"['😱😱🤤', 'Really enjoy watching your cooking......",1039,rib,Western

In [4]:
numposts = df.shape[0]

# Extrating Comments Datasets

In [5]:
df["comments"][0]

"['@lauren.khoury still can’t crack a smile 😬', '@warren_tqy', '@viggg @bottombracket @riardsg @pamelatlc oh nooooooo!!! Captain Lard!!', '@in_vincentble luckily we went there last week! @albertee01 there goes yr fav CKT!', 'It is my go-to char kway teow bee Hoon spot. At least once a week! I call uncle on his mobile to make sure he is open before I head down because I just can’t stand being disappointed when the craving hits me! 😜 been stuck in Oz so Long the craving is unbelievably difficult.']"

In [6]:
comments = df["comments"][1039][2:-2].split('\', \'')
print(len(comments))
comments

14

['😱😱🤤',
 'Really enjoy watching your cooking....🧡',
 'Yum! Looks amazing - thanks for the recipe 🙏',
 '😍 Wow!!!',
 'Goodness. The liao more than the rice! 😂😂',
 'Kacang la',
 'Wahhh super good👍 gonna try this recipe!!!',
 'Nice',
 '😍😍😍',
 'Wow yummy',
 'Thank you for the recipe!',
 'Wahh a lot of work... but indeed worth the hassle😋😋',
 '😘😘😘',
 '@leeen 😍']

In [7]:
df_comments = pd.DataFrame(columns=["ID", "comment"])
df["no. of scrapped comments"] = ""

In [8]:
for i in range(len(df)):
    comments = df["comments"][i][2:-2].split('\', \'')
    num_comments = len(comments)
    df["no. of scrapped comments"][i] = num_comments
    df_comments = df_comments.append(pd.DataFrame({"ID": [df["ID"][i]] * num_comments,
                                                   "comment": comments}))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
df_comments

      ID                                            comment
0      0         @lauren.khoury still can’t crack a smile 😬
1      0                                        @warren_tqy
2      0  @viggg @bottombracket @riardsg @pamelatlc oh n...
3      0  @in_vincentble luckily we went there last week...
4      0  It is my go-to char kway teow bee Hoon spot. A...
..   ...                                                ...
9   1039                                          Wow yummy
10  1039                          Thank you for the recipe!
11  1039  Wahh a lot of work... but indeed worth the has...
12  1039                                                😘😘😘
13  1039                                           @leeen 😍

[6676 rows x 2 columns]

# Data Pre-processing
todo: what are the data pre-processing steps required for sentiment analysis? Remove stop words and punctuation?

# Sentiment Analysis

## Calculating Comment Scores

Sentiment scores are give to each comment in each post, ranging from -1 for very negative to +1 for very positive.

In [10]:
def scores(s):
    sia = SIA()
    pol_score = sia.polarity_scores(s['comment'])
    return s.append(pd.Series(list(pol_score.values()), index=pol_score.keys()))

In [11]:
df_comments = df_comments.apply(scores, axis=1)

In [12]:
df_comments

,ID,comment,neg,neu,pos,compound
0,0,@lauren.khoury still can’t crack a smile 😬,0.000,0.615,0.385,0.3612
1,0,@warren_tqy,0.000,1.000,0.000,0.0000
2,0,@viggg @bottombracket @riardsg @pamelatlc oh n...,0.000,1.000,0.000,0.0000
3,0,@in_vincentble luckily we went there last week...,0.000,0.615,0.385,0.7835
4,0,It is my go-to char kway teow bee Hoon spot. A...,0.149,0.810,0.041,-0.7333
...,...,...,...,...,...,...
9,1039,Wow yummy,0.000,0.000,1.000,0.8020
10,1039,Thank you for the recipe!,0.000,0.589,0.411,0.4199
11,1039,Wahh a lot of work... but indeed worth the has...,0.000,0.773,0.227,0.3291
12,1039,😘😘😘,0.000,1.000,0.000,0.0000
13,1039,@leeen 😍,0.000,1.000,0.000,0.0000

In [13]:
df_comments.describe()

                ID          neg          neu          pos     compound
count  6676.000000  6676.000000  6676.000000  6676.000000  6676.000000
mean    497.138107     0.012212     0.748302     0.200391     0.238198
std     291.553523     0.060263     0.320179     0.282378     0.338083
min       0.000000     0.000000     0.000000     0.000000    -0.817600
25%     250.000000     0.000000     0.516750     0.000000     0.000000
50%     465.000000     0.000000     1.000000     0.000000     0.000000
75%     742.250000     0.000000     1.000000     0.398250     0.571900
max    1039.000000     1.000000     1.000000     1.000000     0.995900

In [14]:
df_comments[df_comments["ID"] == 1]

   ID                                   comment  neg  neu  pos  compound
0   1                Awesomeeeee neeed this now  0.0  1.0  0.0       0.0
1   1  @becauseitsdone hei huili lets go heytea  0.0  1.0  0.0       0.0

## Calculating Post Scores

In [15]:
df["sentiment score"] = np.nan
df.astype({'sentiment score': 'f'}).dtypes

Unnamed: 0                    int64
timestamp                    object
Username                     object
caption                      object
no. of likes                  int64
no. of comments               int64
comments                     object
ID                            int64
food                         object
cuisine                      object
no. of scrapped comments     object
sentiment score             float32
dtype: object

In [16]:
for i in range(len(df)):
    df["sentiment score"][i] = df_comments[df_comments["ID"] == i]["compound"].mean()
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,timestamp,Username,caption,no. of likes,no. of comments,comments,ID,food,cuisine,no. of scrapped comments,sentiment score
0,0,30/6/2020,8days_eat,katong’s famous hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",0,hokkien mee,Chinese,5,0.082280
1,1,30/6/2020,8days_eat,"for the first time in singapore, heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",1,cookies,Snacks,2,0.000000
2,2,29/6/2020,8days_eat,korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,2,acar,Malay,3,0.394567
3,3,29/6/2020,8days_eat,online ordering system oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat...",3,NaN,NaN,3,0.399467
4,4,29/6/2020,8days_eat,a canelé is a bite-sized french pastry from bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']",4,NaN,NaN,3,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1035,1035,31/5/2020,thesilverchef,butadon with egg.\r\n\r\nwhen you see shabu sh...,1192,18,"['Yum yum in my tum 😍', 'Can you use beef inst...",1035,udon,Japanese,11,0.195236
1036,1036,31/5/2020,thesilverchef,here’s a recap of that famous grilled cheese s...,435,4,['🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u200d♀️🙋🏻\u...,1036,NaN,NaN,3,0.212300
1037,1037,31/5/2020,thesilverchef,a healthy sunday start with chobani greek yogh...,353,0,[],1037,NaN,NaN,1,0.000000
1038,1038,30/5/2020,thesilverchef,crispy salmon in vegetable broth.\r\n\r\nthank...,461,4,"['That skin looks🔥', 'Yummmm😋😋😋', '😘😘😘']",1038,NaN,NaN,3,0.000000
1039,1039,30/5/2020,thesilverchef,stuffed squid with glutinous rice.\r\n\r\nsoak...,557,23,"['😱😱🤤', 'Really enjoy watching your cooking......",1039,rib,Western,14,0.371407

In [17]:
df["sentiment score"].describe()

count    1040.000000
mean        0.228807
std         0.186286
min        -0.170500
25%         0.076422
50%         0.218460
75%         0.337104
max         0.992100
Name: sentiment score, dtype: float64

View dataset where "food" is labelled

In [18]:
df[~df["food"].isna()]

,Unnamed: 0,timestamp,Username,caption,no. of likes,no. of comments,comments,ID,food,cuisine,no. of scrapped comments,sentiment score
0,0,30/6/2020,8days_eat,katong’s famous hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",0,hokkien mee,Chinese,5,0.082280
1,1,30/6/2020,8days_eat,"for the first time in singapore, heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",1,cookies,Snacks,2,0.000000
2,2,29/6/2020,8days_eat,korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,2,acar,Malay,3,0.394567
5,5,29/6/2020,8days_eat,"@7elevensg now has $2, $3 and $4 all-day break...",148,0,[],5,kopi,Drinks and beverages,1,0.000000
6,6,27/6/2020,8days_eat,an ex-cna producer makes wonderful eight treas...,311,1,['👍'],6,salted egg,Snacks,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,1022,4/6/2020,thesilverchef,taking it easy tonight with a simple 8 hour sl...,503,5,['the color of that soup is amazing!!! cant im...,1022,rib,Western,4,0.456950
1025,1025,3/6/2020,thesilverchef,bak zhang rice dumplings.\r\n\r\ndragon boat f...,678,22,"['Always wanted to learn how to wrap', 'looks ...",1025,salted egg,Snacks,7,0.137257
1026,1026,3/6/2020,thesilverchef,after cooking exclusively at home and making a...,359,4,['Even outside food you make it so yummyliciou...,1026,bak kut teh,Chinese,3,0.203967
1035,1035,31/5/2020,thesilverchef,butadon with egg.\r\n\r\nwhen you see shabu sh...,1192,18,"['Yum yum in my tum 😍', 'Can you use beef inst...",1035,udon,Japanese,11,0.195236
1039,1039,30/5/2020,thesilverchef,stuffed squid with glutinous rice.\r\n\r\nsoak...,557,23,"['😱😱🤤', 'Really enjoy watching your cooking......",1039,rib,Western,14,0.371407

In [19]:
df[~df["food"].isna()]["sentiment score"].describe()

count    351.000000
mean       0.233132
std        0.199533
min       -0.056875
25%        0.063845
50%        0.216200
75%        0.347190
max        0.992100
Name: sentiment score, dtype: float64

## Testing

In [20]:
def scores_single(s):
    sia = SIA()
    pol_score = sia.polarity_scores(s)
    return pol_score

In [21]:
for comment in comments:
    print(comment)
    print(scores_single(comment))
    print()

😱😱🤤
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

Really enjoy watching your cooking....🧡
{'neg': 0.0, 'neu': 0.534, 'pos': 0.466, 'compound': 0.5413}

Yum! Looks amazing - thanks for the recipe 🙏
{'neg': 0.0, 'neu': 0.417, 'pos': 0.583, 'compound': 0.7901}

😍 Wow!!!
{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.6884}

Goodness. The liao more than the rice! 😂😂
{'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compound': 0.5093}

Kacang la
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

Wahhh super good👍 gonna try this recipe!!!
{'neg': 0.0, 'neu': 0.557, 'pos': 0.443, 'compound': 0.6981}

Nice
{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.4215}

😍😍😍
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

Wow yummy
{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.802}

Thank you for the recipe!
{'neg': 0.0, 'neu': 0.589, 'pos': 0.411, 'compound': 0.4199}

Wahh a lot of work... but indeed worth the hassle😋😋
{'neg': 0.0, 'neu': 0.773, 'pos': 0.227, 'compound': 0.3291}

😘😘😘
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

@leeen 😍
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

# Exporting Dataset

In [22]:
df.to_csv(filepath + filename[:-4] + "_sentiments" + ".csv", index=False)